
@{
    ViewData["Title"] = "Home Page";
}


<p>
    Container Apps Demo. This demo creates infrastructure required for container apps along with container registry. Creates a container image for one of the API and pushes it to the acr to be consumed by the container app.
</p>



@if (User?.Identity?.IsAuthenticated ?? false)
{
    <h1>Welcome, @User.Identity.Name</h1>



    @* <p>
            @foreach (var claim in @Model.HttpContext.User.Claims)
            {
                <div><code>@claim.Type</code>: <strong>@claim.Value</strong></div>
            }
        </p> *@
    <form action="/signout" method="post">
        <button class="btn btn-lg btn-success m-1" type="submit">Sign Out</button>
    </form>
}
else
{
    <h1>Welcome, anonymous</h1>
    <p>
      Note : You will be prompted to provide Microsoft Azure Devops credentials to sign in to this portal  
    </p>
    <form action="/signin" method="post">
        <button class="btn btn-lg btn-success m-1" type="submit">Sign In</button>
    </form>
}
