@model APIMDevOpsCodeGenerator.Web.Models.DevOpsModel

<h4>Create DevOps Resources</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="OrganizationName" class="control-label"></label>
                @Html.DropDownList("OrganizationName", new SelectList(Model.Organizations, "Value", "Text"))
                <span asp-validation-for="OrganizationName" class="text-danger"></span>
            </div>
           
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
